/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0px;

}
.btn-primary{
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1em;
    }
/* Header */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    text-align: center;
}
.nav-title{
color: var(--dark-01, #131313);
font-size: 3rem;
font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
   
}
nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}
/* Banner */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
color: var(--dark-01, #131313);
font-size: 4rem;
font-weight: 700;
margin-bottom: 20px;
}
.banner-description{
color: var(--dark-03, #727272);
font-size: 1.5em;
font-weight: 400;
margin-bottom: 20px;
}
.btn-primary{
padding: 20px;
border: none;
border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 2rem;
font-weight: 600;
}
.banner img{
    width: 100%;
}
/* Main */
main{
    max-width: 1440px;
    margin:70px auto;
}
/* teams  */
.teams-container{
    display: flex;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 50px;
    padding-right: 50px;
}
.ofour{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}
.teams-features{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}
.ql{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 2rem;
}
.teams-description{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
margin: 24px 0;
}
/* Facts */
.facts{
    margin-top: 50px;
}
.facts-container{
    display: flex;
    justify-content: space-around;
    
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
    margin-top: 50px;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    
}
.card-stat{
color: var(--dark-02, #424242);
font-family: Work Sans;
font-size: 3rem;
font-weight: 600;
margin-top: 15px;
margin-bottom: 5px;

}
.card-title{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 1rem;
font-weight: 600;
}
.sponsors{
    margin-top: 50px;
    text-align: center;
}
.sponsors>.nav-title{
    margin-bottom: 20px;
}
.sponsors-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
/* features */
.features{
    margin-top: 130px;
    display: flex;
    gap: 120px;
}
.feature-content .fcard{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ftitle{

border-left: 5px solid orange;
padding-left: 20px;
margin-bottom: 10px;

}
.fdes{
    margin-bottom: 30px;
}
.featureimg{
width: 708px;
height: 982px;
}

.ten-years{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    padding: 45px;
    width: 245px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 70px;
    
}
.ten-years h2{
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 0px;
}
.ten-years p{
    font-size: 1rem;
}

/* Footer */
.footer{
border-radius: 16px;
background: #FFF4E7;
width: 60%;
margin: auto;
text-align: center;
margin-bottom: 50px;
}
.footer-container{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
}
.footer-description{
    color: var(--dark-02, #424242);
text-align: center;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
padding-bottom: 10px;
}
.footer-container h3{
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}



/* responsive */
@media screen and (max-width: 576px){
    header{
        padding: 20px;

    }
  nav{
    flex-direction: column;
    }

    nav li{
        
        margin-right: 10px;
       
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-container{
      flex-direction: column;
      padding-left: 30px;
      padding-right: 30px;
      
        
    }
    .sponsors-container{
        flex-direction: column;
        width: 170px;
        height: 50px;
        margin-top: 170px;
        margin-left: auto;
        margin-right: auto;
        

    }
    .features{
        flex-direction: column;
        margin-left: 20px;
    }
    .featureimg{
        width: 100%;
        
    }
    .ten-years{
        position: static;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
       
    }
    .footer{
        
        width: 100%;
           }
           .footer-container{
            gap: 10px;
            font-size: medium;
           }
}

@media screen and (min-width: 576px) and (max-width:960px){
    nav{
        flex-direction: column;
        }
        header{
            padding: 40px;
        }
        .teams-container{
            flex-direction: column-reverse;
        }
        .features{
            flex-direction: column;
            margin-left: 40px;
        }
}