/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0px;

}
.btn-primary{
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1em;
    }
/* Header */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    text-align: center;
}
.nav-title{
color: var(--dark-01, #131313);
font-size: 3rem;
font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
   
}
nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}
/* Banner */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
color: var(--dark-01, #131313);
font-size: 4rem;
font-weight: 700;
}
.banner-description{
color: var(--dark-03, #727272);
font-size: 1.5em;
font-weight: 400;
}
.btn-primary{
padding: 20px;
border: none;
border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 2rem;
font-weight: 600;
}
.banner img{
    width: 100%;
}
/* Main */
main{
    max-width: 1440px;
    margin:70px auto;
}
/* teams  */
.teams-container{
    display: flex;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 50px;
    padding-right: 50px;
}
.ofour{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}
.teams-features{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}
.ql{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 2rem;
}
.teams-description{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
margin: 24px 0;
}



/* responsive */
@media screen and (max-width: 576px){
    header{
        padding: 20px;

    }
  nav{
    flex-direction: column;
    }

    nav li{
        
        margin-right: 10px;
       
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width:960px){
    nav{
        flex-direction: column;
        }
        header{
            padding: 40px;
        }
        .teams-container{
            flex-direction: column-reverse;
        }
}